{% extends 'base.html' %}
{% load static %}

{% block title %}Пользователь{% endblock %}
{% block nav %}
    {% if user_obj.pk == request.user.pk %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:user_change' %}">Редактировать</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:password_change' %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="card mb-3" >
  <div class="row g-0">
  {% if user_obj.profile.avatar %}
    <div class="col-md-4">
      <img src="{{ user_obj.profile.avatar.url }}" class="img-fluid rounded-start" alt="...">
    </div>
  {% endif %}
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Имя пользователя: {{ user_obj.username }}</h5>
        <p  class="card-text"><b>Имя:</b> {{ user_obj.first_name }}</p>
        <p class="card-text"><b>Фамилия:</b> {{ user_obj.last_name }}</p>
        <p class="card-text"><b>Почта:</b> {{ user_obj.email }}</p>
        <p class="card-text"><b>Гит:</b> {{ user_obj.profile.git_profile }}</p>
        <p class="card-text"><b>О себе:</b> {{ user_obj.profile.about_user }}</p>
        <p class="card-text"><b>Телефон:</b> {{ user_obj.profile.phone }}</p>
      </div>
    </div>
  </div>
</div>

{% for ad in ads %}
        <div class="card" style="width: 18rem;">
        {%  if ad.picture %}
            <img src="{{ ad.picture.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static "images/empty.jpg" %}" class="card-img-top">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
              <p>{{ ad.price }}</p>
              <p>{{ad.get_status_display }}</p>
            <a href="{% url 'webapp:ad_detail' ad.pk %}" class="btn btn-primary">More...</a>
           {% if ad.ads_author == request.user %}
              {% if ad.status != 'rejected' %}
           <a href="{% url 'webapp:ad_update' ad.pk %}" class="btn btn-primary">Update</a>
              {% endif %}
          <a href="{% url 'webapp:ad_delete' ad.pk %}" class="btn btn-primary">Delete</a>
              {% endif %}
          </div>
        </div>
        </br>
    {% endfor %}
{% endblock %}