<h1>Комментарии</h1>
 {% for comment in comments %}
    <div class="card mt-2" style="width: 25rem;">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'accounts:user_detail' comment.comment_author.pk %}">{{ comment.comment_author }}</a> {{ comment.comment_author.email }}</h5>
            <p>{{ comment.text }}</p>
              <h6>{{ comment.created_at }}</h6>

            <a href="{% url 'webapp:comments_delete' comment.pk %}" class="btn btn-primary">Delete</a>
          </div>
        </div>
    {% endfor %}