{% extends 'base.html' %}
{% load static %}

{% block nav %}




{% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">
        {%  if ad.picture %}
            <img src="{{ ad.picture.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static "images/empty.jpg" %}" class="card-img-top">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
            <p>Описание: {{ ad.description }}</p>
            <p>Категория: {{ ad.category }}</p>
            <p>Цена: {{ ad.price }}</p>
            <p>Статус: {{ ad.get_status_display }}</p>
            <p>Автор:<a href="{% url 'accounts:user_detail' ad.ads_author.pk %}">{{ ad.ads_author }}</a></p>
            {% if ad.ads_author == request.user %}
              {% if ad.status != 'rejected' %}
            <a href="{% url 'webapp:ad_update' ad.pk %}" class="btn btn-primary">Update</a>
              {% endif %}
            <a href="{% url 'webapp:ad_delete' ad.pk %}" class="btn btn-primary">Delete</a>

            {% endif %}

          </div>
        </div>

    <hr>
{% if request.user.is_authenticated %}
    {% if ad.ads_author != request.user %}
      <form action="{% url 'webapp:comments_create' ad.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Оставить отзыв' %}
    </form>
    {% endif %}
{% endif %}

   {%  include 'partial/comments.html' %}

{% endblock %}