{% extends 'base.html' %}
{% load static %}

{% block nav %}

{% endblock %}


{% block content %}
    {% for ad in ads %}
        <div class="card" style="width: 18rem;">
        {%  if ad.picture %}
            <img src="{{ ad.picture.url }}" class="card-img-top" alt="...">
        {% else %}
            <img src="{% static "images/empty.jpg" %}" class="card-img-top">
        {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ ad.title }}</h5>
              <p>{{ ad.price }}</p>
              <p>{{ad.status}}</p>
            <a href="{% url 'webapp:ad_detail' ad.pk %}" class="btn btn-primary">More...</a>
           <a href="{% url 'webapp:ad_update' ad.pk %}" class="btn btn-primary">Update</a>
          <a href="{% url 'webapp:ad_delete' ad.pk %}" class="btn btn-primary">Delete</a>

          </div>
        </div>
        </br>
    {% endfor %}

    {% if is_paginated %}
        {% include "partial/pagination.html" %}
    {% endif %}

{% endblock %}